{src_dirs, ["src"]}.
{erl_opts, [debug_info, {i, "deps/gpb/include"}]}.
{deps,[
    {rsrc_pool, ".*",  {svn, "http://svn.code.sf.net/p/erlpool/code-0/source/trunk/erl.rsrc.pool", "HEAD"}}
    ,{gpb, ".*", {git, "git://github.com/tomas-abrahamsson/gpb.git", "HEAD"}}

]}.

{sub_dirs, ["deps/db", "src/db", "tester/src"]}.
{lib_dirs, ["deps"]}.
{eunit_compile_opts, []}.

%%{cover_enabled, false}.


%% gpb settings for linux
% {pre_hooks,
%  [{compile,
%    "erl +B -noinput -pa deps/gpb/ebin "
%    "    -I`pwd`/proto -o-erl src -o-hrl include "
%    "    -s gpb_compile c `pwd`/proto/*.proto"
%   }]}.
% {post_hooks,
%  [{clean,
%    "bash -c 'for f in proto/*.proto; "
%    "do "
%    "  rm -f src/$(basename $f .proto).erl; "
%    "  rm -f include/$(basename $f .proto).hrl; "
%    "done'"}
%  ]}.

%% gpb settings for windows
%% {pre_hooks,
 %% [{compile,
   %% "erl +B -noinput -pa deps/gpb/ebin "
   %% "    -I/zxwork/erlang_sp/myerlangproject/gameserver/trunk/proto -o-erl ./src/proto -o-hrl include "
   %% "    -s gpb_compile c ./proto"
  %% }]}.
%% {post_hooks,
 %% [{clean,
   %% "rm -f e:/zxwork/erlang_sp/myerlangproject/gameserver/trunk/src/push_proto.erl"
    %% "rm -f e:/zxwork/erlang_sp/myerlangproject/gameserver/trunk/src/test.erl"
  %% },
  %% {clean,
   %% "rm -f e:/zxwork/erlang_sp/myerlangproject/gameserver/trunk/include/push_proto.hrl"
    %% "rm -f e:/zxwork/erlang_sp/myerlangproject/gameserver/trunk/include/test.hrl"
  %% }]}.